body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}



.wrap {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}




/*       Header    
===================*/


.header {
    width: 100%;
    height: 1000px;
    background-image: url(../image/bg/bg-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav {
    padding: 20px 15px 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_logo {
    font-size: 30px;
    font-weight: 700;
}

.nav_list {
    list-style-type:none;
    display: flex;
    align-items: center;
}

.fa {
    color: #fff;
    padding-left: 40px;
}

.fa-bars {
    padding: 0;
}

.nav_item a {
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 60px;
    color: #fff;
    transition: .3s;
}

.header ol {
    padding-left: 0;
}

.nav_item a:hover {
    color: #fce38a;
    text-decoration: underline;
    cursor: pointer;
}

.fa:hover {
    color: #fce38a;
    cursor: pointer;
}

.nav_img_one {
    padding-left: 40px;
    width: 60px;
}

.nav_img_two {
    padding-left: 40px;
    width: 60px;
}

.burger_menu {
    width: 25px;
    display: none;
}

.nav_list_menu {
    display: none;
    top: 23px;
    right: 50px;
    position: absolute;
    text-transform: uppercase;
}

.nav_list_menu a {
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    display: flex;
}

/*     Header intro   
==========================*/


.header_intro {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    flex-wrap: wrap;
    margin-top: 130px;
    padding: 0;
}

.header_intro h1 {
    margin: 0;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.header_intro h2 {
    width: 100%;
    margin: 70px 0 0;
    text-align: center;
    font-size: 150px;
    font-weight: 700;
    line-height: 150px;
    text-transform: uppercase;
}

.header_intro a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin: 90px auto 0;
    padding: 12px 30px;
    border: 3px solid #fff;
    transition: .3s;
}

.header_intro a:hover {
    color: #fce38a;
    border-color: #fce38a;
    cursor: pointer;
}

.header_btn {
    margin: 0px 15px 0px 15px;
    
}

.header_btn ol{
    display: flex;
    justify-content: space-around;
}

.header_btn_item {
    margin-top: 95px;
    padding-top: 30px;
    width: 20%;
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    border-top: 3px solid #fff;
    opacity: .7;
    transition: .3s;
    position: relative;
}

.header_btn_item span {
    font-size: 24px;
    font-weight: 700;
    margin-right: 8px;
}

.header_btn_item:hover :before {
    content: "";
    background: orangered;
    width: 50px;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;
}

.header_btn_item:hover {
    opacity: 1;
    cursor: pointer;
}


/*     about     
===================*/


.about {
    width: 100%;
    color: #333;
}

.about_title {
    margin: 0px 0px 25px 0px;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    
}

.about_subtitle {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
}


.about_text {
    padding: 0 15px;
    color: #999;
    margin: 90px 0px 105px 0px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
}



/*      about_image
==========================*/

.about_intro_image {
    display: flex;
    justify-content: space-around;
    padding-bottom: 95px;
    flex-wrap: wrap;
}

.about_image {
    display: block;
    height: 250px;
    width: 380px;
    margin-top: 15px;
}

.about_intro_image_bg {
    background-color: #95e1d3;
    margin-top: 15px;
    
}

.image_left {
    transform: translate(-10px, -10px);
    margin: 0;  
}

/*          statistics      
==========================*/


.statistics {
    background-color: #95e1d3;
}

.statistics_text {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.statistics p {
    text-transform: uppercase;
    text-align: center;
    margin: 90px 15px;

}

.statistics p span {
    display: block;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
}

/*        service        
==========================*/


.service_title {
    text-align: center;
    padding: 0 15px;
}

.service_title h1 {
    padding-top: 110px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    color: #333;
    margin: 0;
}

.service_title h2 {
    padding: 25px 0 0;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0;
}

.service_about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.service_about_list {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 110px;
    justify-content: center;
}

.service_about_list_item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
    padding-left: 70px; 
}


.service_about_list_item:nth-child(1),
.service_about_list_item:nth-child(2),
.service_about_list_item:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
}

.service_about_list_item img {
    display: block;
    position: absolute;
    left: 0;
    top: 10px;
}

.service_about_list_item h1 {
    font-size: 14px;
    font-weight: 400;
    color: #adadad;
    text-transform: uppercase;
}

.service_about_list_item p {
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    padding-bottom: 55px;
}

.service_about_list_item:nth-child(4),
.service_about_list_item:nth-child(5),
.service_about_list_item:nth-child(6) {
    margin-top: 45px;
}



/*        feature        
==========================*/

.feature {
    background-image: url(../image/feature/bg-feature.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feature_title {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #333;
    position: relative;
}

.feature_title h1 {
    width: 100%;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
    margin: 110px 0 0;
}

.feature_title h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0 0;

}

.featrue_img_tablet {
    width: 100%;
    max-width: 477px;
    margin: 0 auto;
    padding-top: 90px;
}

.featrue_img_mobile {
    position: absolute;
    bottom: -90px;
    right: 205px;
    z-index: 1;
}


/*          team      
==========================*/

.team_title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #333;
}

.team_title h1 {
    width: 100%;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
    margin: 100px 15px 0;
}

.team_title h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 23px 0 0;
}

.team_title p {
    width: 75%;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    margin-top: 90px;
    margin-bottom: 95px;
    text-align: center;
}
    
.team_image {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #333;
    text-align: center;
    margin-bottom: 80px;
}

.team_image h1 {
    width: 100%;
    margin: 30px auto 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
}

.team_image p {
    color: #b6b6b6;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 15px auto 20px;
}

.team_image_bg {
    background-color: #95e1d3;
    max-height: 470px;
    
}
    
.team_bg {
    margin-left: 30px;
}

.team_image_bg img {
    transition: .3s;
}

.team_image_bg img:hover {
    transform: translate(-10px, -10px);
    cursor: pointer;
}



/*        partners     
==========================*/


.partners {
    background-color: #f8f8f8;
    padding: 40px 0 60px;
}

.partners_logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.partners_logo img {
    padding: 20px 15px 0 0;
}

.partners_logo img:first-child {
    padding-left: 15px;
}



/*         work    
==========================*/

.work_title {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #333;
}

.work_title h1 {
    width: 100%;
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
    margin: 110px 15px 0;
}

.work_title h2 {
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 15px 0;
}

.work_title p {
    width: 80%;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999999;
    font-family: 'Roboto', sans-serif;
    margin: 90px 15px 100px;
    text-align: center;
}



/*       work image       
==========================*/

.work_image_container {
    display: flex;
    flex-wrap: wrap;
}

.work_image_container img {
    display: flex;
    width: 100%; 
}

.work_image_left {
    display: flex;
    width: 50%;
}

.work_image_left_25 {
    width: 50%;
}

.work_image_center {
    width: 25%;
}

.work_image_right {
    width: 25%;
}




/*         map       
==========================*/


.map {
    background-image: url(../image/map/map.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.map_container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.map_container img {
    margin: 60px 0 20px;
}

.map_container p {
    width: 100%;
    margin: 0 0 80px;
    font-size: 24px;
    font-weight: 700;
    color: #f38181;
    text-align: center;
    text-transform: uppercase;
}



/*      footer     
====================*/

.footer_text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    padding: 25px 0;
}

.footer_text p {
    margin: 0;
}

.footer_text a {
    text-decoration: none;
    color: #f4a4a4;
}


/*         MEDIA        
==========================*/






/*          1150
==========================*/


@media (max-width:1150px) {
    
    .service_about_list {
        grid-template-columns: 42% 42%;
    }   
    
    .service_about_list_item:nth-child(4) {
        border-bottom: 1px solid #e5e5e5;
    }
 
    .service_about_list_item:nth-child(3) {
        margin-top: 45px;
    }
    
    .featrue_img_mobile {
        right: 110px;
}
}
    
    

/*          900
==========================*/


@media (max-width:900px) {
    
    .header {
        max-height: 950px;
    }
    
    nav {
        justify-content: space-between;
    }
    
    .nav_list {
        display: none;
    }
    
    .burger_menu {
        display: block
    }
    
    .header_intro h1 {
        font-size: 50px;
    }
    
    .header_intro h2 {
        font-size: 90px;;
    }
    
    .work_image_left {
        width: 100%;
    }
    
    .work_image_center {
        width: 50%;
    }
    
    .work_image_right {
        width: 50%;
    }
}



/*           770
==========================*/


@media (max-width:770px) {
    .service_about_list {
    grid-template-columns: 82%;
}
    .statistics_text p {
        margin: 20px 50px;
    }
    
    .service_about_list_item:nth-child(2) {
        margin-top: 45px;
    }
    
    .service_about_list_item:nth-child(5) {
        border-bottom: 1px solid #e5e5e5;
    }
    
    .featrue_img_mobile {
        right: 0px;
}
    
    .team_image {
        margin-bottom: 20px; 
    }
    
    .map_container img {
        margin: 20px 0 10px;
    }
    
    .map_container p {
        margin: 0 0 10px;
    }
}


/*           700
==========================*/


@media (max-width:700px) {
    
    .header {
        max-height: 760px;
    }
    
    .header_intro h1 {
        font-size: 30px;
    }
    
    .header_intro h2 {
        font-size: 60px;
        line-height: 80px;
    }
        
    .header_btn_item {
        font-size: 14px;
        width: 15%;
        padding-top: 15px;
    }
    
    .header_btn_item span {
        font-size: 18px;
    }
    
    .header_btn_item:hover :before {
        width: 35px;
    }

    .statistics p {
        font-size: 12px;
        margin: 30px 0;
    }

    .statistics p span {
        font-size: 40px;
    }
    
    .team_bg {
    margin-left: 0px;
}
}


/*           500
==========================*/


@media (max-width:500px) {
    
    .header_btn_item {
        font-size: 12px;
    }
    
    .header_btn_item span {
        font-size: 16px;
    }
    
    .statistics_text p {
        margin: 10px 10px;
    }
    
    .featrue_img_tablet {
        width: 60%;
    }
    
    .featrue_img_mobile {
        width: 20%;
        right: 65px;
        bottom: -35px;
}
   
    .team_image_bg {
        margin: 0 auto;
        background-color: #fff;
    }
    
    .team_image_bg img {
        width: 90%
    }
    
    .partners_logo img:nth-child(4) {
        padding-left: 15px;
}
    .work_title h1 {
        margin-top: 50px;
    }
    
    .work_title h2 {
        font-size: 20px;
    }
    
    .work_title p {
        margin: 40px 15px;
    }
    
    .map_container p {
        font-size: 15px;
    }  
}



/*           400
==========================*/


@media (max-width:400px) {
    
    .header {
        max-height: 720px;
    }
    
    .header_intro h2 {
        font-size: 40px;
        line-height: 60px;
    }
        
     .about_image {
        display: block;
        margin: 0 auto;
        height: 200px;
        width: 300px;
        margin-top: 15px;
    }
    
    .header_btn_item {
        font-size: 10px;
        width: 15%;
        padding-top: 15px;
    }
    
    .header_btn_item span {
        font-size: 14px;
    }
    
    .statistics_text p {
        margin: 10px 0;
    }
    
    .service_about_list {
        width: 100%;
        grid-template-columns: 70%;
    }
    
    .service_about_list p {
        padding-bottom: 0px;
    }
    
    .partners_logo img:nth-child(3) {
        padding-left: 15px;
}
}
